{% extends "base.html" %}

{% block content %}

    <div class="p-8 max-w-xl">
        <h1 class="text-2xl font-bold text-gray-800 mb-6">
            Ajouter un étudiant
        </h1>

        <form method="POST" class="space-y-5">

            <div>
            <label class="block text-sm font-semibold text-gray-600 mb-2">
            Nom complet
            </label>

            <input type="text"
                name="name"
                required
                class="w-full border border-gray-200 rounded-lg px-4 py-2 focus:ring-2 focus:ring-purple-400 outline-none">
            </div>

            <div>
                <label class="block text-sm font-semibold text-gray-600 mb-2">
                Email
                </label>

                <input type="email"
                    name="email"
                    required
                    class="w-full border border-gray-200 rounded-lg px-4 py-2 focus:ring-2 focus:ring-purple-400 outline-none">
            </div>


            <div class="flex gap-3">
                <button
                class="bg-purple-600 hover:bg-purple-700 text-white px-5 py-2 rounded-lg text-sm font-semibold">
                Créer
                </button>
                <a href="{{ url_for('students.index') }}"
                class="bg-gray-200 hover:bg-gray-300 px-5 py-2 rounded-lg text-sm font-semibold">
                Annuler
                </a>
            </div>
        </form>
    </div>

{% endblock %}