{% extends "base.html" %}

{% block content %}

<div class="p-8 max-w-xl mx-auto">

  <h1 class="text-2xl font-bold mb-6">
    Modifier un étudiant
  </h1>

  <form method="POST" class="space-y-4">

    <div>
      <label class="block text-gray-700 font-semibold">Nom</label>
      <input type="text" name="name"
             value="{{ student.name }}"
             class="w-full border px-3 py-2 rounded-lg">
            
    </div>
    <div>
      <label class="block text-gray-700 font-semibold">Email</label>
      <input type="email" name="email"
             value="{{ student.email }}"
             class="w-full border px-3 py-2 rounded-lg">
    </div>
    

    <button type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg">
      Modifier
    </button>

  </form>

</div>

{% endblock %}